
a {
    color: $softec-blue;
    text-decoration: none;
    background-color: transparent;
}

.card {
    border-radius: 0 !important;
}

.card-body {
    padding: 15px;
}

.card-body h3 {
    color: $softec-blue;
    font-size: 1.45rem;
    font-weight: 600;
}

.card ul {
    margin-left: 0;
    padding-left: 1.5em;
    list-style-type: square;
}

.card ul li {
    margin-bottom: .5em;
}

.btn-link {
    color: $softec-blue;
}